<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.luckyzz.alfred.python</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>4D8558F0-AA8A-4A3A-805E-99D4D828CDED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9865599B-D857-40FF-85CA-05E83F4B2856</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>luckyzz</string>
	<key>description</key>
	<string>Execute simple python command</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Python</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>py</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>wait</string>
				<key>script</key>
				<string>import sys
from math import *

def out(title,subtitle) :
	xml = "&lt;items&gt;&lt;item uid=\"test\" arg=\""+str(title)+"\"&gt;&lt;title&gt;"+str(title)+"&lt;/title&gt;&lt;subtitle&gt;"+str(subtitle)+"&lt;/subtitle&gt;&lt;icon&gt;icon.png&lt;/icon&gt;&lt;/item&gt;&lt;/items&gt;"
	print xml
	sys.stdout.write(xml)

query = "{query}"
try:
	result = eval(query)
	out(result,query)
except:
	out("Python",query)

</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Type simple python code</string>
				<key>title</key>
				<string>Python</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4D8558F0-AA8A-4A3A-805E-99D4D828CDED</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9865599B-D857-40FF-85CA-05E83F4B2856</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>4D8558F0-AA8A-4A3A-805E-99D4D828CDED</key>
		<dict>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>9865599B-D857-40FF-85CA-05E83F4B2856</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>luckyzz.com</string>
</dict>
</plist>
